.card-title {
    background: var(--jstalk-color-primary) ;
    color: var(--jstalk-color-dark);
    flex: 1 1;
    padding: 1rem;
}

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
//@import './themes.scss';

body {
    background: var(--jstalk-color-background);
}

.card {
    width: 40vw
}

@media only screen and (max-width: 1000px) {
 
    .card{
        width: 60vw
    }
}