@font-face {
    font-family: "Candara";
    src: local("Candara"), url("../fonts/candara.ttf") format("truetype");
  }

body {
    font-family: "Candara";
}
a {
    color: var(--jstalk-color-primary)  
}

a:hover {
    color: var(--jstalk-color-primary-contrast); 
}

.card {
    width: 80%;
}

.card-title {
    background: var(--jstalk-color-primary) ;
    color: var(--jstalk-color-dark);
    flex: 1 1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.modal-header{
    background: var(--jstalk-color-primary) ;
    color: var(--jstalk-color-dark);
    flex: 1 1;
    padding: 1rem;
}

#favButton {
    border-color: transparent;
    background-color: transparent;
}

// #seeMore {
//     color: var(--jstalk-color-primary);
//     border-color: transparent;
// }

// #seeMore {
//     color: white;
//     background: #6c757d;
//     border-radius: 5px;
//     border-color: transparent;
// }
// .card-text {
//     width: auto;
//     height: 30px;
//     overflow: hidden
// }

@media only screen and (max-width: 1000px) {
 
    .card{
        width: 80%
    }

}

.footer-card {
    display: flex;
    justify-content: space-between;
}