@font-face {
    font-family: "Candara";
    src: local("Candara"), url("../fonts/candara.ttf") format("truetype");
  }

body {
    //background: var(--jstalk-color-background);
    font-family: "Candara";
}

.b-navbar {
    background-color: black;
}


@media only screen and (max-width: 1000px) {
 
}